/* Space out content a bit */
body {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 10px;
  padding-left: 10px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
}

/* Custom page footer */
.footer {
  padding-top: 5px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

h1 span.w1:before {
  color: #88d;
  content:'|';
}

h1 span.w2 {
  color: #88d;
  content:'|';
}

a span.w1:before {
  color: #88d;
  content:'|';
}

a span.w2 {
  color: #88d;
  content:'|';
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 15px 0;
}

.btn-sm {
  font-size: 5px;
}

/* Main marketing message and sign up button */
.jumbotron {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron h1 {
  font-size: 45px;
}
.jumbotron .btn {
  padding: 12px 15px;
  font-size: 25px;
}

/* Supporting marketing content */
.marketing {
  margin: 10px 0;
}
.marketing p + h4 {
  margin-top: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 10px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
